/* Styles par défaut pour tous les écrans */
h1 {
    color: black;
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

.card {
    text-align: center;
    padding: 20px;
    background-color: lightgray; /* Couleur par défaut */
    border: 1px solid #000; /* Bordure par défaut */
}

.label-container {
    margin: 20px 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

/* Couleurs selon les breakpoints Bootstrap */
@media (min-width: 576px) {
    .card {
        background-color: lightblue; /* Couleur pour sm */
    }
}

@media (min-width: 768px) {
    .card {
        background-color: lightgreen; /* Couleur pour md */
    }
}

@media (min-width: 992px) {
    .card {
        background-color: lightcoral; /* Couleur pour lg */
    }
}

@media (min-width: 1200px) {
    .card {
        background-color: lightgoldenrodyellow; /* Couleur pour xl */
    }
}

@media (min-width: 1400px) {
    .card {
        background-color: lightsalmon; /* Couleur pour xxl */
    }
}

